<div class="profile_navbar">
  <div class="navbar-user">
      <%= link_to "My bookings", bookings_path, class: "navbar-wagon-item navbar-wagon-link user-link" %>
      <%= link_to "My instruments", owner_instruments_path, class: "navbar-wagon-item navbar-wagon-link user-link" %>
      <%= link_to "My instruments bookings", owner_bookings_path, class: "navbar-wagon-item navbar-wagon-link user-link" %>
  </div>
</div>
