<div class="banner-content">
  <h1>MusiLoc</h1>
  <p>
    Rent your instrument
  </p>
  <%= link_to "Find an instrument", new_owner_instrument_path, class: "btn btn-primary btn-lg btn-home"%>
  <%= link_to "Rent my instrument", new_owner_instrument_path, class: "btn btn-primary btn-lg btn-home"%>
  </div>
</div>
