<div class="form-review">
  <p>Add a review</p>
    <%= simple_form_for booking do |f| %>
      <%= f.input :review %>
      <%= f.input :rating %>
      <%= f.submit 'Post', class: 'btn btn-primary' %>
    <% end %>
</div>
